@import "tailwindcss";


:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@theme {
  --color-threadly-primary: #7C3AED;
  --color-threadly-secondary: #E0D4FF;
  --color-threadly-accent: #FACC15;
  --color-threadly-background: #FAF9FF;
  --color-threadly-text: #1E1B4B;
  --color-threadly-muted: #A1A1AA;
  --font-threadly: 'Inter', sans-serif;

  --color-threadly-success: #22C55E;
  --color-threadly-error: #EF4444;
  --color-threadly-warning: #F97316;
}